@import url(https://fonts.googleapis.com/css?family=Fugaz+One|Graduate|Raleway|Open+Sans+Condensed:300);
/*  ======================
    ======= Page 1 =======
    ====================== */
.parallax {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/body-background.jpeg");
  height: 850px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: portrait) {
  .parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/body-background.jpeg");
    height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; } }

@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
  .parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/body-background.jpeg");
    height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; } }

.navbar-nav {
  float: none;
  margin: 10 auto;
  display: block;
  text-align: center; }

.navbar-nav > li {
  display: inline-block;
  float: none; }

.navbar-nav > li > a {
  color: white;
  font-family: Open Sans Condensed, sans-serif;
  font-size: 20px; }

.navbar-nav > li > a:hover {
  background: transparent;
  color: light-gray; }

.title {
  color: white;
  font-family: Open Sans Condensed, sans-serif;
  font-size: 100px;
  margin: 160px;
  text-align: center; }

@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: portrait) {
  .title {
    color: white;
    font-family: Open Sans Condensed, sans-serif;
    font-size: 4em;
    margin: 50px;
    text-align: center; } }

@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
  .title {
    color: white;
    font-family: Open Sans Condensed, sans-serif;
    font-size: 3em;
    margin: 50px;
    text-align: center; } }

.profile-btns-container {
  width: 100%;
  margin-top: 35px;
  text-align: center; }

@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: portrait) {
  .profile-btns-container {
    width: 100%;
    margin: 60px auto 0px -10px; } }

@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
  .profile-btns-container {
    margin: 25px auto;
    width: 100%; } }

.btn {
  background: transparent;
  border: 1px solid white;
  font-size: 20px;
  font-family: Open Sans Condensed, sans-serif;
  height: 40px;
  width: 100px; }

a {
  color: white;
  margin-left: 20px;
  transition-duration: .5s;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s; }

a:hover {
  background-color: black;
  color: white !important;
  transition-duration: .5s;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s; }

a:active {
  color: white;
  margin-left: 20px;
  transition-duration: .5s;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s; }

/*  =============================================================
    =============================================================
    ===================== Page 2 (projects) =====================
    =============================================================
    ============================================================= */
.projectsDivider {
  background: white;
  height: 65px;
  width: 100%; }

#projects-title {
  color: black;
  font-family: Open Sans Condensed, sans-serif;
  font-size: 50px;
  margin-top: 0px; }

#myWorkPageContainer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/body-background2.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  text-align: center;
  font-family: cursive;
  margin-top: 275px; }

@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: portrait) {
  #myWorkPageContainer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/body-background2.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    text-align: center;
    font-family: cursive;
    margin-top: 275px; }
  #project1, #project2, #project3, #project4 {
    margin-top: 20px !important; }
  .projects-goUp-btn-container {
    width: 140px;
    margin: 55px auto 0px auto; } }

@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
  #myWorkPageContainer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/body-background2.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    text-align: center;
    font-family: cursive;
    margin-top: 275px; }
  #project1, #project2, #project3, #project4 {
    margin-top: 20px !important; }
  .projects-goUp-btn-container {
    width: 140px;
    margin: 55px auto 0px auto; } }

#project1, #project2, #project3, #project4 {
  margin-top: 60px; }

.projects-goUp-btn-container {
  width: 100%;
  margin: 0px auto 0px auto; }

@media only screen and (max-width: 667px) {
  .projects-goUp-btn-container {
    width: 100%;
    margin: 55px auto 0px auto; } }

#goUp-button {
  color: white;
  transition-duration: .5s;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s; }

#goUp-button:hover {
  background-color: black;
  color: white !important;
  transition-duration: .5s;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s; }

/*  =======================================================================
    =======================================================================
    ============================= PAGE 3 ==================================
    =======================================================================
    ======================================================================= */
.contactMeDivider {
  background: white;
  height: 70px;
  width: 100%; }

#contact-title {
  color: black;
  font-family: Open Sans Condensed, sans-serif;
  font-size: 50px;
  margin-top: 0px;
  text-align: center; }

#contactMePageContainer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/body-background.jpeg");
  height: 850px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#contactme {
  box-shadow: 0px 0px 10px navy;
  border: solid navy;
  border-radius: 5px;
  padding: 20px;
  background-color: #EDEDED;
  width: 50%;
  height: 400px;
  margin: 50px auto 0px auto; }

#subject {
  height: 100px; }

@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: portrait) {
  #contactMePageContainer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/body-background.jpeg");
    height: 670px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  #contactme {
    box-shadow: 0px 0px 10px navy;
    border: solid navy;
    border-radius: 5px;
    padding: 10px;
    background-color: #EDEDED;
    width: 80%;
    height: 350px;
    margin: 75px auto 0px auto; }
  #submit {
    background-color: #DCDCDC;
    color: navy;
    padding: 5px 15px;
    border-radius: 4px;
    width: 35%;
    margin: 0 auto 0 75px; } }

@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
  #contactMePageContainer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/body-background.jpeg");
    height: 670px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  #contactme {
    box-shadow: 0px 0px 10px navy;
    border: solid navy;
    border-radius: 5px;
    padding: 5px;
    background-color: #EDEDED;
    width: 90%;
    height: 225px;
    margin: 15px auto 0px auto; }
  #fname, #email {
    width: 37%;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px auto 10px auto; }
  #subjectText {
    width: 100%;
    text-align: center;
    margin-top: 10px; }
  #subject {
    width: 100%;
    height: 75px; }
  #submit {
    background-color: #DCDCDC;
    color: navy;
    padding: 5px 15px;
    border-radius: 4px;
    width: 25%;
    margin: -20px auto 0px 205px; }
  #goUp-button {
    width: 15%;
    margin-top: -55px;
    text-align: center; } }

.contactme-goUp-btn-container {
  width: 150px;
  margin: 100px auto 0px auto; }

@media only screen and (min-width: 375px) and (max-width: 667px) {
  .contactme-goUp-btn-container {
    width: 100%;
    margin-top: 50px;
    text-align: center; } }

input[type=text], select, textarea {
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 10px auto 10px auto; }

input[type=submit] {
  background-color: #DCDCDC;
  color: navy;
  padding: 5px 15px;
  border-radius: 4px;
  width: 20%;
  margin: 15px auto 0px 240px; }
