@import url(https://fonts.googleapis.com/css?family=Patua+One|Audiowide);
h1 {
  text-align: center;
  color: navy;
  font-family: "Audiowide", cursive; }

#text-box {
  margin: 0 auto;
  margin-top: 50px !important;
  background-color: transparent;
  color: navy;
  width: 100%; }

#location, #condition {
  font-family: 'Patua One', cursive;
  font-size: 15px;
  text-align: center; }

#conditionIcon {
  width: 75px;
  height: 75px; }

#tempF {
  font-family: 'Patua One', cursive;
  font-size: 50px;
  text-align: center; }

#tempC {
  font-family: 'Patua One', cursive;
  font-size: 50px;
  text-align: center; }

.lows {
  color: grey; }

.container {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  font-family: "Audiowide", cursive; }

#buttonWrapper {
  width: 500px;
  margin: 0 auto;
  /* Centers div */
  margin-top: 25px !important;
  text-align: center;
  /* Centers button */ }

.toggle {
  color: navy;
  background: transparent;
  padding: 5px;
  border: 1px solid black;
  font-weight: bold;
  outline: 0; }

.toggle:hover {
  box-shadow: 1px 1px 1px 1px #27496d, 0 0px 1px #193047; }

.toggle:active {
  box-shadow: inset 0 0 0 1px #27496d, inset 0 5px 30px #193047; }

#credits {
  width: 100%;
  text-align: left;
  font-size: 10px;
  position: absolute;
  bottom: 5px; }

#copyright p {
  text-align: center;
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 5px; }
