@import url(https://fonts.googleapis.com/css?family=Fugaz+One|Graduate|Raleway|Open+Sans+Condensed:300);

$grey: #DCDCDC;
$light-grey: #EDEDED;
$Fugaz: Fugaz One, cursive;
$Graduate: Graduate, cursive;
$Raleway: Raleway, sans-serif;
$Josefin: Open Sans Condensed, sans-serif;


/*  ======================
    ======= Page 1 =======
    ====================== */
.parallax {
    
    background-image: 
        linear-gradient(
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
            ),
        url('/images/body-background.jpeg');

    height: 1000px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float: none;
}
.navbar-nav > li > a {
    color: white;
    font-family: $Josefin;
    font-size: 20px;
}
.navbar-nav > li > a:hover {
    background: transparent;
    color: light-gray;
}

.title {
    color: white;
    font-family: $Josefin;
    font-size: 7em;
    margin: 160px;
    text-align: center;
}

.subtitle {
    color: white;
    font-family: $Josefin;
    margin: 75px auto 0 425px;
    width: 450px;
}

.btn-container {
    margin: 0px auto 50px auto;
    width: 30%;
}
.btn {
    background: transparent;
    border: 1px solid white;
    font-size: 2em;
    font-family: $Josefin;
    height: 50px;
    width: 100px;
}
a {
    color: white;
    margin-left: 20px;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
}
a:hover {
    background-color: black;
    color: white !important;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
}
a:active {
    color: white;
    margin-left: 20px;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
}


/*  ======================
    ======= Page 2 =======
    ====================== */

.Divider {
    background: white;
    height: 100px;
    width: 100%;
}

#projects-title > p {

    color: black;
    font-family: $Josefin;
    font-size: 50px;
    margin: 0px auto 0px auto;
}

#mywork {

    background-image: 
        linear-gradient(
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
            ),
        url('/images/body-background2.jpeg');

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    height: 1000px;


    text-align: center;
    font-family: cursive;
    margin-top: 175px;
}

#project1, #project2 {
    margin-top: 60px;
}

#project3, #project4 {
    margin-top: 60px;
}

.goUp-btn-container {
    width: 140px;
    margin: 50px auto 0px auto;
}
#goUp-button {
    color: white;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
}
#goUp-button:hover {
    background-color: black;
    color: white !important;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
}



/*  ======================
    ======= Page 3 =======
    ====================== */

#contact-title {

    color: black;
    text-align: center;
    font-family: $Josefin;
    font-size: 50px;
    font-weight: bold;
}

#contactMeContainer {
    
    background-image: 
        linear-gradient(
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
            ),
        url('/images/body-background.jpeg');

    height: 700px;
    margin-top: -20px; /*Needed to do this to prevent white
                        space above divider for some reason*/

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#contactme {

    box-shadow: 0px 0px 10px navy;
    border: solid navy;
    border-radius: 5px;
    padding: 20px;
    background-color: $light-grey;
    width: 50%;
    height: 400px;
    margin: 50px auto 0px auto;

}
#subject {
    height: 100px;
}

input[type=text], select, textarea {
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px auto 16px auto;
    resize: vertical;
}
input[type=submit] {

    background-color: $grey;
    color: navy;
    padding: 5px 15px;
    border-radius: 4px;
    margin: 0 auto 0 40%;
}
input[type=submit]:hover {
    
}